/* frontend/src/index.css */
@import "tailwindcss";

@theme {
  --color-brand-orange: #f97316;
}

body {
  background-color: #f8fafc; /* slate-50 */
  color: #0f172a;           /* slate-900 */
  -webkit-font-smoothing: antialiased;
}